/* color veriable */
$black:#000000;
$navy:#002147;
$yellow:#fdc800;
$off_white:#f5f5f5;
$solid_white:#ffffff;
$dark_light:#7c7c7c;;
/* dark_mode_color */

/* font name */
$Poppins_Thin:'Poppins-Thin';
$Poppins_ExtraLight:'Poppins-ExtraLight';
$Poppins_Light:'Poppins-Light';
$Poppins_Regular:'Poppins-Regular';
$Poppins_Medium:'Poppins-Medium';
$Poppins_SemiBold:'Poppins-SemiBold';
$Poppins_Bold:'Poppins-Bold';
$Poppins_ExtraBold:'Poppins-ExtraBold';
$Poppins_Black:'Poppins-Black';
/* border */
$border:0px solid red;
