// banner_area start
.banner_area{
    border: $border;
    background-image: url("../images/banner_img/banner_img.jpg");
    // height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    background-position: top;
    .banner{
        background-color: rgba(0,0,0,0.2);  
        padding: 132px 0px;
        @include xs {
            padding: 30px 0px;
            background-color: #00000047;
        }
        @include sm {
            padding: 30px 0px;
            background-color: #00000047;
        }
        @include md {
            padding: 50px 0px;
            background-color: #00000047;
        }
        @include lg {
            padding: 60px 0px;
            background-color: #00000047;
        }
        @include xl {
            padding: 70px 0px;
            background-color: #00000047;
        }
    }
}
.banner_content{
    border: $border;
    .banner_title{
        border: $border;
        h1{
            border: $border;
            font-family: $Poppins_SemiBold;
            font-size: 40px;
            line-height: 55px;
            text-transform: capitalize;
            color: $solid_white;
            @include xs {
                font-size: 20px;
                line-height: 40px;
            }
            @include sm {
                font-size: 20px;
                line-height: 40px;
            }
            span{
                display: block;
                color: $yellow;
            }
        }
    }
    .banner_discription{
        border: $border;
        margin: 45px 0px;
        @include xs {
            margin: 20px 0px;
        }
        @include sm {
            margin: 20px 0px;
        }
        p{
            border: $border;
            font-family: $Poppins_Regular;
            font-size: 16px;
            line-height:26px;
            text-transform: capitalize;
            color: $solid_white;
            @include xs {
                font-size: 14px;
                line-height:24px;
            }
            @include sm {
                font-size: 14px;
                line-height:24px;
            }
        }
    }
    .banner_button_area{
        border: $border;
        a{
            border: $border;
            font-family:$Poppins_Medium;
            font-size: 16px;
            line-height: 16px;
            text-transform: capitalize;
            background-color: $navy;
            color: $solid_white;
            padding: 15px 17px;
            border-radius: 4px;
            transition-duration: .4s;
            &:hover{
                background-color: $yellow;
                color: $navy;
            }
            span{
                border: $border;
            }
        }
    }
}


// banner_area end