// banner_area start
.banner_area{
    border: $border;
    background-image: url("../images/banner_img/banner_img.jpg");
    // height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    background-position: top;
    .banner{
        background-color: rgba(0,0,0,0.2);  
        padding: 132px 0px;
    }
}
.banner_content{
    border: $border;
    .banner_title{
        border: $border;
        h1{
            border: $border;
            font-family: $Poppins_SemiBold;
            font-size: 40px;
            line-height: 55px;
            text-transform: capitalize;
            color: $solid_white;
            span{
                display: block;
                color: $yellow;
            }
        }
    }
    .banner_discription{
        border: $border;
        margin: 45px 0px;
        p{
            border: $border;
            font-family: $Poppins_Regular;
            font-size: 16px;
            line-height:26px;
            text-transform: capitalize;
            color: $solid_white;
        }
    }
    .banner_button_area{
        border: $border;
        a{
            border: $border;
            font-family:$Poppins_Medium;
            font-size: 16px;
            line-height: 16px;
            text-transform: capitalize;
            background-color: $navy;
            color: $solid_white;
            padding: 15px 17px;
            border-radius: 4px;
            transition-duration: .4s;
            &:hover{
                background-color: $yellow;
                color: $navy;
            }
            span{
                border: $border;
            }
        }
    }
}


// banner_area end