// nav_area start
.nav_area {
    border: $border;
    background-color: $off_white;
    position: sticky;
    top: 82px;
    z-index: 9999999;
    @include xs {
        display: none;
        background-color: #dcdcdc;
        position: relative;
        right: -330px;
        transition-duration: 0.4s;
    }
    @include sm {
        display: none;
        background-color: #dcdcdc;

    }
    @include md {
        top: 63px;
    }
    @include lg {
        top: 69px;
    }
    .nav_area_content {
        border: $border;
        padding: 10px;

        ul {
            border: $border;
            display: flex;
            justify-content: center;
            gap: 15px;
            flex-wrap: wrap;
            @include xs {
                display: block;
                gap: 5px;
                display: inline-grid;
            }
            @include sm {
                display: block;
                gap: 5px;
                display: inline-grid;
            }
            li {
                border: $border;
                align-items: center;
                display: flex;

                .nav_item {
                    border: $border;
                    font-family: $Poppins_Medium;
                    font-size: 16px;
                    line-height: 16px;
                    text-transform: capitalize;
                    color: $navy;
                    padding: 7px 7px;
                    transition-duration: 0.4s;
                    &:hover {
                        background-color: $navy;
                        color: $solid_white;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}

// nav_area end
// active_alass start
.active_alass {
    display: block;
    position: fixed;
    right: 0px;
    top: 54px;
    width: 100%;
    height: 100vh;
}
// active_alass end
