// notice_details_page start
.notice_details_page {
    border: $border;
    .notice_details_page_content {
        border: $border;
        .notice {
            border: $border;
            margin: 50px 0px;
            .notice_date {
                border: $border;
                align-items: center;
                display: flex;
                p {
                    border: $border;
                    font-family: $Poppins_Medium;
                    font-family: $Poppins_SemiBold;
                    font-size: 20px;
                    line-height: 20px;
                    color: $solid_white;
                    color: $navy;
                    text-transform: capitalize;
                    font-style: italic;
                    background-color: $navy;
                    background-color: $yellow;
                    display: initial;
                    padding: 10px;
                    span {
                        border: $border;
                    }
                }
            }
            .notice_title {
                border: $border;
                margin: 30px 0px;
                span {
                    border: $border;
                    font-family: $Poppins_Medium;
                    font-family: $Poppins_SemiBold;
                    font-size: 26px;
                    line-height: 36px;
                    color: $navy;
                }
            }
            .notice_details {
                border: $border;
                p {
                    border: $border;
                    font-family: $Poppins_Medium;
                    font-size: 16px;
                    line-height: 26px;
                    color: $navy;
                    margin: 30px 0px;
                }
            }
        }
    }
}
// notice_details_page end
